/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	background:url("../image/orange.png") no-repeat center fixed;
}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}


/*img{*/
	/*width: 300px;*/
/*}*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	margin-left: -10px;
	width: 101.45%;
}

li {
	float:left;
	display: inline;
	list-style-type: none;
}

.nav {
	display: block;
	padding: 10px;
	background-color: black;

}

li .nav {

	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .nav:hover {
	background-color: orange;
}

.mad{
	height: 70px;
	width: 70px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.mad:hover{
	transform: scale(1.2);
}

.twitterbird{
	text-decoration: none;
}

.niks{
	float: left;
}

.ban{
	margin: -10px;
}

.frame{
	/*margin-left: %;*/
	margin:10px;
	display: inline-block;
}

.frame h3{
	margin-left: 45px;
	margin-top: -1px;
	margin-bottom: -3px;
}

.frame datum{
	margin-left: 45px;
}
.frame iframe{
	margin-left: 45px;
}

.wrap{
	margin:auto;

	background-color: white;
	width: 548px;
	height: 59px;
}

.datum{
	background-color: orange;
	width: 68px;
	height: 59px;
	display: block;
}

.datum_time{
	font-size: 17px;
	text-align: center;
	font-family:"Arial";
	font-style: normal;
	word-spacing: 50px;

}

.info{
	border-right: solid black 1px;

	margin-top: -75px;
	margin-left:68px;
	width: 179px;
	height: 59px;
}

.info_time{
	margin-top: -15px;
}

.live{
	border-right: solid black 1px;


	margin-top: -75px;
	margin-left: 247px;
	width: 301px;
	height: 59px;
}

.live_text{
	margin-top: 10px;
}

p .live_game{
	margin-top: 60px;
	text-align: center;
}

.button{
	float: right;
	margin-top: -62px;
	cursor: pointer;
	width: 96px;
	height: 27px;
	background: inherit;
	background-color: rgba(22, 155, 213, 1);
	border-radius: 5px;
	display: block;
	color: white;
	box-shadow: white;
	font-family: "Arial";
}

ul.pagination {
	background: black;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: auto;
}

ul.pagination li {display: inline;}

ul.pagination li a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

ul.pagination li a:hover{
	background-color: orange;
}

.center{
	text-align: center;
}

.wrapper_about{
	text-align: center;
	width: 33%;
	background: white;
	display: inline-flex;
	margin-bottom: 4px;

}

.wrapper_about .pasfoto{

	width: 288.5px;
	height: 288.5px;

}
.wrapper_about .full{
	overflow: hidden;
	background: black;
	width: 100%;
	color: ghostwhite;
}

pre{
	background-color: white;
}

/*.mySlides {*/
	/*display:none;*/
/*}*/



